/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//background: url('/assets/img/elements/footer_payonline_26x30.png') right center no-repeat transparent;
//.at2x('/assets/img/elements/footer_payonline_26x30', 'png', 26px, 30px);

//Universal ------------------

body{
  overflow-x: hidden;
} 

p{
	font-family: @font-family-sans-serif;
	a{
		color: @groveGreen;
		&:hover,
		&:active{
			color:@groveMedTeal;
			text-decoration:none;
		}
	}
}

@font-face {
  font-family: 'antonioregular';
  src: url('/assets/fonts/antonio-regular-webfont.eot');
  src: url('/assets/fonts/antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/antonio-regular-webfont.woff2') format('woff2'),
       url('/assets/fonts/antonio-regular-webfont.woff') format('woff'),
       url('/assets/fonts/antonio-regular-webfont.ttf') format('truetype'),
       url('/assets/fonts/antonio-regular-webfont.svg#antonioregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'antoniolight';
  src: url('/assets/fonts/antonio-light-webfont.eot');
  src: url('/assets/fonts/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/antonio-light-webfont.woff2') format('woff2'),
       url('/assets/fonts/antonio-light-webfont.woff') format('woff'),
       url('/assets/fonts/antonio-light-webfont.ttf') format('truetype'),
       url('/assets/fonts/antonio-light-webfont.svg#antoniolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'antoniobold';
  src: url('/assets/fonts/antonio-bold-webfont.eot');
  src: url('/assets/fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/fonts/antonio-bold-webfont.woff2') format('woff2'),
       url('/assets/fonts/antonio-bold-webfont.woff') format('woff'),
       url('/assets/fonts/antonio-bold-webfont.ttf') format('truetype'),
       url('/assets/fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
input::-moz-focus-inner {
  border: 0;
}

::-webkit-input-placeholder {
    color:    #393939;
    font-size: 16px;
    letter-spacing: 1px;
}
:-moz-placeholder {
    color:    #393939;
    opacity:  1;
    font-size: 16px;
    letter-spacing: 1px;
}
::-moz-placeholder {
    color:    #393939;
    opacity:  1;
    font-size: 16px;
    letter-spacing: 1px;
}
:-ms-input-placeholder {
    color:    #393939;
    font-size: 16px;
    letter-spacing: 1px;
}
*/

h1{
	font-family: "brandon-grotesque";
	font-size: 55px;
	font-weight: 500;
	color: @groveDarkTeal;
	margin-left:-3px;
}

h2{
	font-family: 'antonioregular', Helvetica, sans-serif;
	font-size: 24px;
	text-transform:uppercase;
	color: @groveMedTeal;
}

h3{
	font-family: "brandon-grotesque";
	font-size: 16px;
	color: @groveGreen;
}

form{
	input[type="text"],textarea{
		width: 100%;
		border: 1px solid @gray-lighter;
		padding: 5px;
	}
	label{
		color: @groveDarkTeal;
		font-family: 'antonioregular', Helvetica, sans-serif;
		text-transform:uppercase;
		padding-top:10px;
		padding-bottom: 5px;
	}
	input[type="submit"]{
		margin-top:15px;
	}
}

#header_image{
	position:absolute;
	left:0;
	right: 0;
	margin: 0 auto;
	border-bottom: 5px solid @groveDarkTeal;
	img{
		width: 100%;
	}
	height: 200px;
	overflow:hidden;
	background-position: center center;
}

#title{
	height:200px;
	h1{
		line-height:200px;
		margin: 0;
		&.white{
			color: white;
		}
	}
}

.general_button{
	background-color: @groveGreen;
	text-transform: uppercase;
	font-family: 'antonioregular', Helvetica, sans-serif;
	color: white;
	padding: 15px 40px;
	border:0;
	text-align:center;
	&:hover,
	&:active{
		background-color: @groveMedTeal;
		text-decoration:none;
		color: white;
	}
}

header{
	border-bottom: 25px solid @groveGreen;
	@media(max-width:589px){
		border-bottom: 0;
	}
	.logo{
		background: url('/assets/img/elements/main-logo_190x94.png') center center no-repeat white;
    .at2x('/assets/img/elements/main-logo_190x94', 'png', 190px, 94px);
    width:190px;
    height: 94px;
    display:block;
    margin: 16px 0;
    @media(max-width:939px){
			margin-left: auto;
			margin-right: auto;
		}
	}
	ul{
		margin: 49px 0 0 0;
		padding: 0;
		text-align:center;
		@media(max-width:939px){
			margin: 0 auto 15px auto;
		}
		@media(max-width:589px){
			display:none;
		}
		li{
			list-style-type:none;
			margin: 0;
			padding: 0;
			float: left;
			@media(max-width:939px){
				float: none;
				display: inline-block;
			}
			&.active a{
				color: @groveGreen;
			}
			a{
				text-transform:uppercase;
				color: @groveMedTeal;
				font-size:20px;
				display:block;
				padding: 3px 30px 3px 15px;
				font-family: 'antonioregular', Helvetica, sans-serif;
				&:hover,
				&:active{
					text-decoration: none;
					color: @groveDarkTeal;
				}
				@media(max-width:1169px){
					padding: 3px 15px;
				}
				@media(max-width:700px){
					padding: 3px 7px;
				}
			}//a
		}//li
	}//ul
	.tab{
		position: absolute;
		top: 0;
		right: 100px;
		
		a,input{
			color: white;
			text-decoration:none;
			background-color: @groveDarkTeal;
			font-family: @font-family-sans-serif;
			display:block;
			padding: 5px 10px;
			font-size: 13px;
			border: 0;
			margin: 0;
			&:hover,
			&:active{
				color: white;
				text-decoration:none;
				background-color: @groveMedTeal;
			}
		}
		@media(max-width:939px){
			top: -126px;
			right: 50px;
		}
		@media(max-width:700px){
			right: 15px;
			font-size: 11px;
		}
		&.pay{
			right: 200px;
		}
		
	}
	.mobile_nav{
		 display:none;
		 @media(max-width:589px){
			 display:block;
		 }
		 background-color: @groveGreen;
		 margin-left: -15px;
		 margin-right: -15px;
		.mobile_nav_button{
			width: 56px;
			height: 34px;
			display:block;
			background: url('/assets/img/elements/mobile_navlines_56x34.png') center center no-repeat transparent;
			.at2x('/assets/img/elements/mobile_navlines_56x34', 'png', 56px, 34px);
			cursor:pointer;
		}
	}
}

#home_slider{
	br{
		
	}
	.slide{
		width: 100%;
		background-color: @gray-lighter;
		border-bottom: 7px solid @groveDarkTeal;
		max-height: 500px;
		overflow:hidden;
		@media(max-width:722px){
			background-color: @groveDarkTeal;
			border-bottom: 0;
		}
		img{
			width: 100%;
			margin: 0 auto;
			display:block;
		}
		.container{
			position:absolute;
			top:40%;
			left:0;
			right: 0;
			@media(max-width:722px){
				position:relative;
			}
			span{
				font-family: "brandon-grotesque";
				font-size: 60px;
				font-weight: 500;
				color: white;
				line-height: 65px;
				@media(max-width:722px){
					font-size: 46px;
					line-height: 50px;
					padding: 15px 0;
					display:block;
				}
				@media(max-width:722px){
					font-size: 46px;
					line-height: 50px;
					padding: 15px 0;
					display:block;
				}
				@media(max-width:530px){
					font-size: 35px;
					line-height: 40px;
				}
			}
		}//container
	}//slide
	.pager{
		margin: -70px 0 0 0;
		position: relative;
		left: 0;
		right: 0;
		z-index:300;
		@media(max-width:923px){
			margin-top: -60px;
		}
		@media(max-width:722px){
			margin-top: -190px;
		}
		@media(max-width:530px){
			margin-top: -170px;
		}
		@media(max-width:415px){
			margin-top: -170px;
			margin-bottom: -20px;
		}
		a{
			background: url('/assets/img/elements/mphoto-slider-icon_21x42.png') bottom center no-repeat transparent;
			.at2x('/assets/img/elements/photo-slider-icon_21x42', 'png', 21px, 42px);
			width: 35px;
			height: 21px;
			display: inline-block;
			&.cycle-pager-active{
				background-position: top center;
			}
		}
	}//pager
}

#home_cta{
	margin-top: 94px;
	margin-bottom: 77px;
	@media(max-width:722px){
		margin-top:220px;
	}
	@media(max-width:589px){
		margin-bottom:25px;
	}
	span{
		width: 154px;
		height: 118px;
		display:block;
		margin: 0 auto;
		&.icon_1{
			background: url('/assets/img/elements/home-floorplan-icon_154x118.png') center center no-repeat transparent;
			.at2x('/assets/img/elements/home-floorplan-icon_154x118', 'png', 154px, 118px);
		}
		&.icon_2{
			background: url('/assets/img/elements/home-gallery-icon_154x118.png') center center no-repeat transparent;
			.at2x('/assets/img/elements/home-gallery-icon_154x118', 'png', 154px, 118px);
		}
		&.icon_3{
			background: url('/assets/img/elements/home-resident-icon_154x118.png') center center no-repeat transparent;
			.at2x('/assets/img/elements/home-resident-icon_154x118', 'png', 154px, 118px);
		}
	}
	a{
		background-color: @groveGreen;
		text-transform: uppercase;
		font-family: 'antonioregular', Helvetica, sans-serif;
		font-size: 24px;
		padding: 7px 12px;
		color: white;
		display:block;
		margin: 0 auto;
		width: 168px;
		text-align:center;
		margin-top: 20px;
		&:hover,
		&:active{
			background-color: @groveMedTeal;
			text-decoration:none;
		}
		@media(max-width:589px){
			width: 75%;
			margin-bottom:50px;
			margin-top:10px;
		}
	}
}

#general,
#gallery,
#floorplans,
#residents,
#contact{
	padding: 50px 0;
	ul{
		li{
			list-style-type:none;
			padding: 5px 0 5px 15px;
			background: url('/assets/img/elements/bullet_6x6.png') left center no-repeat transparent;
		}
	}
}

#general{
	img{
		max-width: 100%;
		height: auto;
	}
}

.galleria{ 
	width: 100%; 
	height: 400px; 
	background-color: #222;
	margin-top: 20px;
	margin-bottom:30px;
	.galleria-theme-classic{
		background-color: #222;
		border: 5px solid @groveDarkTeal;
	}
}

#floorplans{
	h2{
		background: url('/assets/img/elements/floorplan_download_14x14.png') right 11px no-repeat transparent;
		.at2x('/assets/img/elements/floorplan_download_14x14', 'png', 14px, 14px);
		margin-right:10px;
		margin-top:15px;
		@media(max-width:650px){
			background-position: right 3px;
		}
		a{
			color: @groveMedTeal;
			display:block;
			&:hover,
			&:active{
				text-decoration:none; 
				color: @groveDarkTeal;
			}
			@media(max-width:650px)and(min-width: 399px){
				font-size: 19px;
			}
		}
	}
	h3{
		color: @groveDarkTeal;
		span{
			color: @groveGreen;
		}
		@media(max-width:630px)and(min-width: 591px){
			font-size: 15px;
		}
		@media(max-width:590px)and(min-width: 399px){
			font-size: 14px;
		}
	}
	img{
		width: 100%;
		border:1px solid @groveGreen;
	}
	.col-lg-3{
		@media(max-width:398px){
			width: 100%;
		}
	}
}

#residents{
	.calendar{
		font-family: "brandon-grotesque";
		font-size: 34px;
		font-weight: 500;
		color: @groveDarkTeal;
		display:block;
		bottom: 10px;
		margin-top:10px;
		@media(max-width:590px){
			margin-top:55px;
			margin-left:-2px;
		}
	}
	.payonline{
		position:absolute;
		right: 15px;
		top: 6px;
		@media(max-width:440px){
			padding: 10px 20px 8px 20px;
			top: -50px
		}
	}
	article{
		margin-bottom: 30px;
		h2{
			margin-bottom:0;
		}
		h3{
			margin-top:10px;
		}
	}
	.col-lg-3{
		h2{
			color: @groveGreen;
		}
	}
}

#contact{
	p{
		strong{
			color: @groveDarkTeal;
		}
	}
	a{
		color: #333;
		&:hover,
		&:active{
			color: @groveGreen;
		}
	}
}

footer{
	background-color: @groveDarkTeal;
	padding-top: 50px;
	padding-bottom: 45px;
	color: white;
	a.icon{
		background: url('/assets/img/elements/footer-facebook-icon_40x40.png') center center no-repeat transparent;
		.at2x('/assets/img/elements/footer-facebook-icon_40x40', 'png', 40px, 40px);
		width: 40px;
		height: 40px;
		display:block;
		float:left;
		margin-right: 40px;
		@media(max-width:939px){
			position:absolute;
			margin-top:-41px;
			margin-left:-3px;
		}
	}
	ul{	
		margin: 0;
		padding: 0;
		width: 40%;
		display:block;
		float:left;
		@media(max-width:722px){
			margin-bottom: 14px;
		}
		@media(max-width:450px){
			width: 30%;
		}
		li{
			list-style-type:none;
			margin: 0;
			padding: 0;
			a{
				color: white;
				text-transform: uppercase;
				font-family: 'antoniolight', Helvetica, sans-serif;
				font-size: 16px;
				padding: 5px 0;
				display:block;
				&:hover,
				&:active{
					color: @groveMedTeal;
					text-decoration:none;
				}
			}//a
			&.active a{
				color: @groveMedTeal;
			}
		}//li
	}//ul 
	.general_button{
		font-size: 16px;
		width: 80%;
		display:block;
		@media(max-width:1169px){
			width: 100%;
		}
		@media(max-width:589px){
			width: 50%;
			float:right;
			margin-bottom: 15px;
		}
		@media(max-width:450px){
			width: 70%;
		}
		&.button_1{
			background: url('/assets/img/elements/footer-r-criteria-icon_40x40.png') 15px center no-repeat transparent;
			.at2x('/assets/img/elements/footer-r-criteria-icon_40x40', 'png', 40px, 40px);
			background-color: @groveGreen;
		}
		&.button_2{
			background: url('/assets/img/elements/footer-pet-policy-icon_40x40.png') 15px center no-repeat transparent;
			.at2x('/assets/img/elements/footer-pet-policy-icon_40x40', 'png', 40px, 40px);
			background-color: @groveGreen;
		}
		&.button_3{
			background: url('/assets/img/elements/footer-sitemap-icon_40x40.png') 15px center no-repeat transparent;
			.at2x('/assets/img/elements/footer-sitemap-icon_40x40', 'png', 40px, 40px);
			background-color: @groveGreen;
		}
		@media(max-width:399px){
			background-image: none;
		}
		&:hover,
		&:active{
			background-color: @groveMedTeal;
		}
	}//.general_button
	p{
		font-size: 13px;
		-webkit-font-smoothing: antialiased;
		line-height: 18px;
		float:left;
		clear:both;
		a{
			color: white;
			&:hover,
			&:active{
				color: @groveMedTeal;
				text-decoration:none;
			}
		}
		&.copyright{
			margin-top: 15px;
		}
	}//p
	span.icons{
		background: url('/assets/img/elements/footer-housing-icons_74x35.png') center center no-repeat transparent;
		.at2x('/assets/img/elements/footer-housing-icons_74x35', 'png', 74px, 35px);
		width: 74px;
		height: 35px;
		display:block;
		float:left;
		clear:both;
	}
	.col-sm-6{
		@media(max-width:722px){
			margin-left: 9%;
		}
	}
}

//Mobile Drawer -------------------
#content_container {
  background-color: white;
  &.active{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

  }
  &.open-left{
    position: absolute;
    border-left: 1px solid gray;
    overflow-x: hidden;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  &.overflowx{
    overflow-x: hidden;
  }
}

.snap-drawers{
  display: none;
  background: white;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: 100%;
  .snap-drawer{
    background: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    overflow: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
       -moz-transition: width 0.3s ease;
        -ms-transition: width 0.3s ease;
         -o-transition: width 0.3s ease;
            transition: width 0.3s ease;
    ul{
      padding: 0;
      margin: 0;
      list-style-type: none;
      li{
        &.active{
          //background-color: @gray-lighter;
          a{
            color: @groveGreen;
          }
          ul li a{
            background-color: white;
            color: @groveMedTeal;
            &:hover,
            &:active{
              color: @groveDarkTeal;
              //background-color: @gray-lighter;
            }
          }
          ul li.active a{
            color: @groveGreen;
          }
        }
        ul{
          li{
            a{
              color: @groveMedTeal;
              padding-left: 30px;
              font-weight: normal;
            }
            &.active a{
              background-color: @gray-lighter;
              color: @groveGreen;
            }
          }
        }
        a{
          color: @groveMedTeal;
          font-weight: bold;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid @gray-light;
          &:hover,
          &:active{
            //background-color: @gray-lighter;
            color: @groveDarkTeal;
            text-decoration: none;
          }
        }//a
      }//li
    }//ul
    &.snap-drawer-left{
      left: 0;
      z-index: 2;
      //border-right: 1px solid @gray-light;
    }
  }//snap_drawer
}//snap_drawers