/*==============================================================
Styles by Roger Sullivan and Shonna Godoy at Keystone Resources
===============================================================*/
//.at2x('../img/elements/logo_270x160.png', 270px, 160px);

body{
  color: @dogDarkGray;
}

.container-fixed {
  margin: 0 auto;
  max-width: 1172px;
}
.container-fixed > hr {
  margin: 30px 0;
}

body{
  min-width: 1172px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

 h1{
   font-family: @font-family-serif;
   font-size: 42px;
   font-weight: 700;
   margin: 39px 0 28px 0;
   padding-bottom: 18px;
   border-bottom: 2px solid;
   text-align: center;
 }

 h2{
     color: @dogMedGreen;
    font-size: 30px;
    font-weight: 700;
    font-family: @font-family-serif;
 }

 p{
   font-family: @font-family-sans-serif;
   font-size: 16px;
   line-height: 26px;
   padding-bottom: 10px;
 }

a{
  color: @dogDarkGray;
  &:hover,
  &:active{
    text-decoration: none;
    color: @dogMedGreen;
  }
}

header{
  background: url('../img/elements/bknd_150x150.png');
  .at2x('../img/elements/bknd_150x150.png', 150px, 150px);
  text-align: right;
  height: 187px;
  .social_media_icons{
    float: right;
    margin-top: 37px;
    display: block;
    clear: both;
  }
  .header_logo{
    display: block;
    width: 342px;
    height: 122px;
    background: url('../img/elements/logo_342x122.png') center center no-repeat transparent;
    .at2x('../img/elements/logo_342x122.png', 342px, 122px);
    text-align: left;
    margin: 37px 0 0 0;
  }
}

 .contact_info{
    text-align: right;
    margin-top: 47px;
    font-size: 16px;
    font-weight: bold;
    em{
      color: @dogMedGreen;
    }
  }

.social_media_icons{
  display: block;
  a{
    width: 45px;
    height: 35px;
    display: block;
    float: left;
    &.email{
      background: url('../img/elements/mail_35x35.png') center center no-repeat transparent;
      .at2x('../img/elements/mail_35x35.png', 35px, 35px);
    }
    &.facebook{
      background: url('../img/elements/facebook_35x35.png') center center no-repeat transparent;
      .at2x('../img/elements/facebook_35x35.png', 35px, 35px);
    }
    &.twitter{
      background: url('../img/elements/twitter_35x35.png') center center no-repeat transparent;
      .at2x('../img/elements/twitter_35x35.png', 35px, 35px);
    }
    &.linkedin{
      background: url('../img/elements/linkedin_35x35.png') center right no-repeat transparent;
      .at2x('../img/elements/linkedin_35x35.png', 35px, 35px);
      width: 40px;
    }
  }
} //.social_media_icons

//Slideshow
.splashpage_slider_section{
  background-color: @dogBlue;
   .splashpage_slider{
     background-color: white;
     margin-left: -12px;
   }
   .cycle-pager{
    position: absolute;
    right: 0;
    span{
       background: url('../img/elements/dotblue_11x11.png') center center no-repeat transparent;
       .at2x('../img/elements/dotblue_11x11.png', 11px, 11px);
      float: left;
      width:20px;
      height: 11px;
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      background-color: transparent;
      border: 0;
      overflow: hidden;
      *text-indent: -9999px;
      cursor: pointer;
      margin-top: 25px;
        &.cycle-pager-active,
        &:hover{
          background: url('../img/elements/dotgreen_11x11.png') center center no-repeat transparent;
        .at2x('../img/elements/dotgreen_11x11.png', 11px, 11px);
        }
    }//span
  }//.cycle_pager
}//.splashpage_slider_section


.content_top{
  background: url('../img/elements/bknd_150x150.png');
  .at2x('../img/elements/bknd_150x150.png', 150px, 150px);
  padding-bottom: 31px;
  h1{
    color: @dogBlue;
    margin-top: 67px;
    border-color: @dogLightGray;
  }
  .introtext{
    font-size: 25px;
    line-height: 38px;
    font-weight: normal;
    padding-bottom: 16px;
    color: @dogBlack;
  }
}

.content_mid{
  background-color: @dogMedGreen;
  padding-bottom: 57px;
  h1{
    color: white;
    border-color: @dogDarkGreen;
    margin-bottom: 49px;
  }
  p{
    color: white;
  }
  img{
    border:3px solid white;
    margin-left: 3px;
  }
}

.content_bottom{
  background: url('../img/elements/bknd_150x150.png');
  .at2x('../img/elements/bknd_150x150.png', 150px, 150px);
  padding-bottom: 40px;
  h1{
    color: @dogBlue;
    border-color: @dogLightGray;
  }
  h2{
    text-align: center;
    padding-top: 200px;
    margin: 12px 0 30px 0;
    &.left{
      background: url('../img/elements/services_173x173.png') top center no-repeat transparent;
      .at2x('../img/elements/services_173x173.png', 173px, 173px);
    }
    &.right{
      background: url('../img/elements/industry_173x173.png') top center no-repeat transparent;
      .at2x('../img/elements/industry_173x173.png', 173px, 173px);
    }
  }//h2
  ul{
    color: @dogBlack;
    margin-top: 17px;
    li{
      padding-left: 10px;
      line-height: 28px;
      font-weight: bold;
      font-size: 16px;
    }
  }
}

footer{
  background: url('../img/elements/bkgdfooter_150x150.png');
  .at2x('../img/elements/bkgdfooter_150x150.png', 150px, 150px);
  padding-bottom: 27px;
  .social_media_icons{
    margin-top: 27px;
    width: 210px;
  }
  .copyright_info{
    font-size: 12px;
    color: @dogDarkGray;
    font-weight: bold;
    margin-top: 29px;
    padding-left: 26px;
    a{
      color: @dogMedGreen;
      &:active,
      &:hover{
        color: @dogDarkGreen;
      }
    }
  }
  .contact_info{
    margin-top: 30px;
  }
}
