[[!+fi.successMessage]]
[[!FormIt?
  &hooks=`spam,fiProcessArrays,FormSave,email`
  &emailTo=`[[*resident_email]]`
  &emailTpl=`tpl-email_workorder`
  &emailSubject=`You have received a service request from [[++site_url]]`
  &emailFrom=`noreply@thegroveongladstell.com`
  &clearFieldsOnSuccess=`0`
  &fsFormTopic=`Service Request`
  &successMessage=`<span class="success">Your form has been submitted.</span><br />`
  &store=`1`
  &storeTime=`1800`
  &validate=`
  username:blank,
  fname:required,
  phone:required,
  email:email:required,
  property:required,
  details:required`
]] 
[[!FormItRetriever]]
		
		<form class="form-horizontal" name="workorder_form" id="workorder_form" method="post" action="[[~[[*id]]]]" >
      <input type="hidden" name="username" value="" />
      
      <div class="control-group">
        <label class="control-label" for="fname">Name <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="fname"  name="fname" value="[[!+fi.fname]]" required>
          [[!+fi.error.fname]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="phone">Phone #<span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="phone"  name="phone" value="[[!+fi.phone]]" required>
          [[!+fi.error.phone]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="email">Email <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="email"  name="email" value="[[!+fi.email]]" required>
          [[!+fi.error.email]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="property">Apartment # <span class="required">*</span></label>
        <div class="controls">
          <input type="text" id="property" name="property" value="[[!+fi.property]]" required>
          [[!+fi.error.property]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      <div class="control-group">
        <label class="control-label" for="details">Details <span class="required">*</span></label>
        <div class="controls">
          <textarea id="details" name="details" cols="60" rows="5" class="form-textarea">[[!+fi.details]]</textarea>
          [[!+fi.error.details]]
        </div><!--/.controls-->
      </div><!--/.control-group-->
      
      
        <div class="control-group">
          <div class="controls">
            <input type="submit" value="Submit" id="form_submit" class="general_button" />
          </div><!--/.controls-->
        </div><!--/.control-group-->
      </form>