	<footer>
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-ms-2 col-sm-2">
							<a href="[[++link_facebook]]" class="icon text-hide" target="_blank">Facebook</a>
							[[!Wayfinder? &startId=`0` &level=`1`]]
						</div><!--/.col3-->
						<div class="col-lg-3 col-md-3 col-ms-4 col-sm-6">
							<a href="[[++link_criteria]]" class="general_button button_1" target="_blank">Rental Criteria</a><br />
							<a href="[[++link_pets]]" class="general_button button_2" target="_blank">Pet Policy</a>
							<br />
							<a href="assets/img/images/general/8294_TheGrove_Sitemap_Prints_V1.pdf" class="general_button button_3" target="_blank">Sitemap</a>
							<br />
							<p class="copyright hidden-sm hidden-xs">&copy; 2017 [[++site_name]].<br />
								All rights reserved. <a href="[[~8]]">Privacy policy</a>.<br />
								Site Design by <a href="http://www.keystoneresources.com/" target="_blank">Keystone Resources</a>.
							</p>
						</div><!--/.col3--> 
						<div class="col-lg-6 col-md-6 col-ms-6 col-sm-12"> 
							<p>[[++site_name]] encourages and supports advertising and marketing programs in which there are no barriers to obtaining housing because ofrace, color, religion, sex, handicap, familial status or national origin.</p>
							<p>The federal Fair Housing Act prohibits discrimination in housing becauseof race, color, national origin, religion, familial status, gender, and disability. The Fair Housing Act ensures that all persons receive equal housing opportunity.</p>
							<p>We strongly value the importance, the moral obligation, and the legalresponsibility of equal rights to all individuals based on race, color, religion, creed, sex, familial status, handicap, national origin or sexual preference.
							</p>
							<span class="icons"></span>
							<p class="copyright visible-sm visible-xs">&copy; 2017 [[++site_name]]. All rights reserved. <a href="#">Privacy policy</a>. Site Design by <a href="http://www.keystoneresources.com/" target="_blank">Keystone Resources</a>.
							</p>
						</div><!--/.col6-->
					</div><!--/.row-->
				</div><!--/.container-->
			</footer>
			
		</div><!--/#content_container-->
    [[$scripts]]
	</body>
</html>