<div class="snap-drawers">
			  <div class="snap-drawer snap-drawer-left">
			      <div class="drawer_container">
			         <nav>[[!Wayfinder? &startId=`0` &level=`1`]]</nav>
			      </div><!--/.drawer_container -->
			  </div><!--/.snap-drawer left -->  
			</div><!--/.snap-drawers --> 
			<div id="content_container">
				<header>
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-ms-12 col-sm-12">
								<a href="[[~1]]" class="logo text-hide">Home</a>
							</div><!--/.col3-->
							<div class="col-lg-9 col-md-9 col-ms-12 col-sm-12">
								<div class="tab pay">
									<a href="[[++link_pay]]" target="_blank">Pay Online</a>
								</div>
								<div class="tab">
									[[$application]]
								</div>					
								[[!Wayfinder? &startId=`0` &level=`1` &excludeDocs=`1`]]
								<div class="mobile_nav">
									<div class="snap-trigger-left mobile_nav_button text-hide">View Navigation</div> 
								</div>
							</div><!--/.col9-->
						</div><!--/.row-->
					</div><!--/.container-->
				</header>
				[[*header_image:isnt=``:then=`
				<div id="header_image" style="background-image: url([[*header_image]]);"></div>
				<section id="title">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<h1 class="white">[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
							</div><!--/.col12-->
						</div><!--/.row-->
					</div><!--/.container-->
				</section> 
				`]]
				
				