<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4 col-xs-6">
	<h2><a href="[[+floorplanPDF]]" target="_blank" title="Download PDF">[[+floorplanName]]</a></h2>
	<a href="[[+floorplanPDF]]" target="_blank"><img src="[[+floorplanThumb]]" alt="[[+floorplanName]] Floorplan" /></a>
	<h3>[[+floorplanBed]] <span>/</span> [[+floorplanBath]] Bath <span>/</span> [[+floorplanFeet]] SF</h3>
</div><!--/.col3--> 