<div class="slide">
	<img src="[[+sliderImage]]"/>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span>[[+sliderDesc]]</span>
			</div><!--.col12-->
		</div><!--/.row-->
	</div><!--/.container-->
</div>