<article>
	<h2>[[+eventTitle]]</h2>
	[[+eventStart:strtotime:date=`%R%P`:is=`01:23am`:then=`
		<h3>[[+eventStart:strtotime:date=`%B %e, %Y <span>&bull;</span> %A`]] [[+eventEnd:isnot=``:then=`<span>&bull;</span> Until [[+eventEnd:strtotime:date=`%l:%M %P`]]`]]</h3>
	`:else=`
		<h3>[[+eventStart:strtotime:date=`%B %e, %Y <span>&bull;</span> %A <span>&bull;</span> %l:%M %P`]] [[+eventEnd:isnot=``:then=`- [[+eventEnd:strtotime:date=`%l:%M %P`]]`]]</h3>
	`]]
		[[+eventDesc]]
</article>

