[[$head]]
[[$header]]
	
	<section id="contact">
		<div class="container">
			[[*header_image:is=``:then=`
				<div class="row">
					<div class="col-lg-12">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
					</div><!--/.col12-->
				</div><!--/.row-->
			`]]
			<div class="row">
				<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
					[[*contact_list_1]]
				</div><!--/.col4-->
				<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
					[[*contact_list_2]]
				</div><!--/.col4-->
				<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
					[[*contact_list_3]]
				</div><!--/.col4-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section> 

[[$footer]]