[[$head]]
[[$header]]
				
	<section id="home_slider">
		<div class="slider">
			[[!getImageList?
	      &tvname=`MIGX-home`
	      &tpl=`tpl-migx-home`
	    ]] 
		</div>
		<div class="pager"></div>
	</section>
	
	<section id="home_cta">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
					<span class="icon_1"></span>
					<a href="[[~[[*home_cta_link_1]]]]">[[#[[*home_cta_link_1]].pagetitle]]</a>
				</div><!--/.col3-->
				<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
					<span class="icon_2"></span>
					<a href="[[~[[*home_cta_link_2]]]]">[[#[[*home_cta_link_2]].pagetitle]]</a>
				</div><!--/.col3-->
				<div class="col-lg-4 col-md-4 col-ms-4 col-sm-4">
					<span class="icon_3"></span>
					<a href="[[~[[*home_cta_link_3]]]]">[[#[[*home_cta_link_3]].pagetitle]]</a>
				</div><!--/.col3-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section> 

[[$footer]]