[[$head]]
[[$header]]
	<section id="residents">
		<div class="container">
			[[*header_image:is=``:then=`
				<div class="row">
					<div class="col-lg-12">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
						<a href="#" class="general_button payonline">Pay Online</a>
					</div><!--/.col12-->
				</div><!--/.row-->
			`]]
			<div class="row">
				<div class="col-lg-3 col-md-3 col-ms-4 col-sm-4">
					<h2>Service Request Form</h2>
					[[$form_workorder]]
				</div><!--/.col3-->
				<div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-ms-8 col-sm-8"> 
					[[*content]]
					<span class="calendar">Event Calendar</span>
					[[*MIGX-events:is=`[]`:or:is=``:then=`
						<p>Our calendar is currently empty, check back soon for updates!</p>
					`:else=`
	          [[!getImageList?
				      &tvname=`MIGX-events`
				      &tpl=`tpl-migx-events` 
				    ]] 
	        `]]
					
				</div><!--/.col9-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section> 

[[$footer]] 