[[$head]]
[[$header]]
	<section id="gallery">
		<div class="container">
			[[*header_image:is=``:then=`
				<div class="row">
					<div class="col-lg-12">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
					</div><!--/.col12-->
				</div><!--/.row-->
			`]]
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">
					[[*content]]
					<div class="galleria">
					[[!getImageList?
			      &tvname=`MIGX-gallery`
			      &tpl=`@CODE: <img src="[[+sliderImage]]">`
			    ]] 
					</div>
			    <script>
            Galleria.loadTheme('assets/js/vendor/galleria.classic.min.js');
            Galleria.configure({
						    type: Boolean,
								default: true
						});
            Galleria.run('.galleria');
            
					</script>
				</div><!--/.col10-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section> 

[[$footer]]  