[[$head]]
[[$header]]
	
	<section id="general">
		<div class="container">
			[[*header_image:is=``:then=`
				<div class="row">
					<div class="col-lg-12">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
					</div><!--/.col12-->
				</div><!--/.row-->
			`]]
			<div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-ms-6 col-sm-6">
					[[*amenities_list_1]]
				</div><!--/.col6-->
				<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-ms-6 col-sm-6">
					[[*amenities_list_2]]
				</div><!--/.col6-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section> 

[[$footer]]