[[$head]]
[[$header]]
	
	<section id="floorplans">
		<div class="container">
			[[*header_image:is=``:then=`
				<div class="row">
					<div class="col-lg-12">
						<h1>[[*longtitle:is=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</h1>
					</div><!--/.col12-->
				</div><!--/.row-->
			`]]
			<div class="row">
			
				[[!getImageList?
		      &tvname=`MIGX-floorplans`
		      &tpl=`tpl-migx-floorplans`
		    ]] 
				
			</div><!--/.row-->
		</div><!--/.container-->
	</section> 

[[$footer]]